<!--1st Asssignment ======> Warning & Success Component Works <========== -->

<!--
  +Create two new components: WarningAlert and SuccessAlert
  +Output then beneath each other ,n the AppComponent
  +Output a warning or success message in the components
  +Style the Components appropriately(maybe some green/red text)
  +use external or internal templates and styles
-->
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Create two new Components (manually or with CLI): WarningAlert and SuccessAlert</li>
        <li>Output them beneath each other in the AppComponent</li>
        <li>Output a warning or success message in the Components</li>
        <li>Style the Components appropriately (maybe some red/ green text?)</li>
      </ol>
      <p>Use external or internal templates and styles!</p>
      <p>Feel free to create more components, nest them into each other or play around with different types of selectors!</p>
    </div>
  </div>
  <app-warning-alert></app-warning-alert>
  <app-success-alert></app-success-alert>
</div> -->

<!--2nd Assignment ======> All DataBinding Forms <========= -->

<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Add a Input field which updates a property ('username') via Two-Way-Binding</li>
        <li>Output the username property via String Interpolation (in a paragraph below the input)</li>
        <li>Add a button which may only be clicked if the username is NOT an empty string</li>
        <li>Upon clicking the button, the username should be reset to an empty string</li>
      </ol>
      <hr>
      <label>Username</label>
      <input type="text" class="form-control" [(ngModel)]="username">
      <p>{{ username }}</p>
      <button
        class="btn btn-primary"
        [disabled]="username === ''"
        (click)="username = ''">Reset User</button>
    </div>
  </div>
</div> -->

<!--All Directives works with server and servers files-->
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>I'm in the AppComponent!</h3>
      <hr>
      <app-servers></app-servers>
    </div>
  </div>
</div> -->

<!--3rd Assignment ========> DataBindings <==============-->
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <ol>
        <li>Add A button which says 'Display Details'</li>
        <li>Add a paragraph with any content of your choice (e.g. 'Secret Password = tuna')</li>
        <li>Toggle the displaying of that paragraph with the button created in the first step</li>
        <li>Log all button clicks in an array and output that array below the secret paragraph
          (maybe log a timestamp or simply an incrementing number)</li>
        <li>Starting at the 5th log item, give all future log items a blue background (via ngStyle)
          and white color (ngClass)</li>
      </ol>
      <hr> -->
      <!-- <buttonclass="btn btn-primary" (click)="showSecret = !showSecret">Display Details</button> -->
        <!-- <button class="btn btn-primary" (click)="onToggleDetails()">Display Details</button>
        <p *ngIf="showSecret">Secret Password = tuna</p> -->

        <!--for the div under these lines
        [ngStyle]="{backgroundColor: logItem >= 5 ? 'blue' : 'transparent'}"
        [ngClass]="{'white-text': logItem >= 5}"
      -->
        <!-- <div
        *ngFor="let logItem of log, let i = index"
        [ngStyle]="{backgroundColor: i >= 4 ? 'blue' : 'transparent'}"
        [ngClass]="{'white-text': i >= 4}"
      >{{ logItem }}</div>
    </div>
  </div>
</div> -->

<!--Debugging Exercise: If you want to debug a code in Angular you should open developer tools and select source.
Then in source folder, find the webpack, open webpack folder and find the file which you want to debug it.
Then select the row and start the debugging-->
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>My Servers</h2>
      <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
      <br><br>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let server of servers; let i = index"
          (click)="onRemoveServer(i)">{{ server }}</li>
      </ul>
    </div>
  </div>
</div> -->

<!--@Input and @Output decorator and exercises-->
<!-- <div class="container">
  <app-cockpit
  (serverCreated)="onServerAdded($event)"
  (blueprintCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangeFirst()">Change First Element</button>
      <button class="btn btn-danger" (click)="onDestroyFrist()">Destroy Element</button>
      <app-server-element
      *ngFor="let serverElement of serverElements"
      [srvElement]="serverElement"
      [name]="serverElement.name">
      <p #contentParagraph>
        <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.content }}</strong>
        <em *ngIf="serverElement.type === 'blueprint'">{{ serverElement.content }}</em>
      </p>
    </app-server-element> -->
      <!--In here we defined child property in child component with Input() decorator, thus tgis property took the
      parent parameter from the app.component.ts (parent component). this is how component communicate with each other -->
      <!-- <app-child [elmChild]="parent"> </app-child>
    </div>
  </div>
</div> -->


<!--4th Assignment ========> Property & Event Binding & View Encapsulation <==============-->

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Bind it!</h3>
      <ol>
        <li>Create three new components: GameControl, Odd and Even</li>
        <li>The GameControl Component should have buttons to start and stop the game</li>
        <li>When starting the game, an event (holding a incrementing number) should get emitted each second (ref = setInterval())</li>
        <li>The event should be listenable from outside the component</li>
        <li>When stopping the game, no more events should get emitted (clearInterval(ref))</li>
        <li>A new Odd component should get created for every odd number emitted, the same should happen for the Even Component (on even numbers)</li>
        <li>Simply output Odd - NUMBER or Even - NUMBER in the two components</li>
        <li>Style the element (e.g. paragraph) holding your output text differently in both components</li>
      </ol>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber" ></app-odd>
      <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber" ></app-even>
    </div>
  </div>
</div>
