<!-- Before Section 16------------------------------------------------------------------------- -->
<!-- <div class="row">
  <div class="col-xs-10">
    <app-shoppingedit></app-shoppingedit> -->
    <!-- <app-shoppingedit
    (ingredientAdded)="onIngredientAdded($event)" ></app-shoppingedit> //shoppingedit.comp.ts 1 den dolayı listener i sildik
  metotu da sileceğiz-->
    <!-- <hr>
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of ingredients">
        {{ ingredient.name }} ({{ ingredient.amount }})
      </a>
    </ul>
  </div>
</div> -->
<!-- --------------------------------------------------------------------------------------------- -->
<!--Before NgRx State Management -->
<!-- <div class="row">
  <div class="col-xs-10">
    <app-shoppingedit></app-shoppingedit>
    <hr>
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of ingredients; let i = index"
        (click) = "onEditItem(i)"
        >
        {{ ingredient.name }} ({{ ingredient.amount }})
      </a>
    </ul>
  </div>
</div> -->

<div class="row">
  <div class="col-xs-10">
    <app-shoppingedit></app-shoppingedit>
    <hr>
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of (ingredients | async).ingredients ; let i = index"
        (click) = "onEditItem(i)"
        >
        {{ ingredient.name }} ({{ ingredient.amount }})
      </a>
    </ul>
  </div>
</div>
