<div class="row">
  <div class="col-md-5">
    <!-- <app-recipelist (recipeWasSelected)="selectedRecipe = $event" ></app-recipelist>
      we can also get rid of this event here
      on the recipe list because we no longer use this chain of data to pass it around
    -->
    <app-recipelist></app-recipelist>
  </div>
  <div class="col-md-7">
    <!--here we send selectedRecipe details with [recipe] property to the recipe details so we can use
    string interpolation there and selectedRecipe comes from the recipeitem.component.ts file-->
    <app-recipedetail *ngIf ="selectedRecipe; else infoText"
    [recipe] = "selectedRecipe"></app-recipedetail>
    <ng-template #infoText >
      <p>Please select a Recipe</p>
    </ng-template>
  </div>
</div>
